@page
@model pract18.Pages.IndexModel
@{
}
@section links {
    <link rel="stylesheet" href="~/styles/index.css">
}
<h1>Мои заметки: </h1>
<div class="post">
    <div class="post-image">
        <img src="~/images/noimage.jpg" class="post-image-picture" />
    </div>
    <div class="post-content">
        <h3>Название заметки</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="post-actions">
            <a href="#">Изменить</a>
            <a href="#">Удалить</a>
        </div>
    </div>
</div>
